<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camila Malumbres - Libros y escritos</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.png">
</head>
<body class="fondoBlack">
<div id="contenedorGrid">
    <nav class="fondoWhite botonera">
    <div class="primera">
        <a href="../index.html">
            <img src="../img/logo.png" alt="logo de Camila Malumbres - Libros y escritos">
        </a>
        <ul>
            <li>
                <a href="libros.html">Libros</a>
            </li>
            <li>
                <a href="escritos.html">Escritos</a>
            </li>
            <li>
                <a href="biografia.html">Biografia</a>
            </li>
            <li>
                <a href="contacto.html">Contacto</a>
            </li>
        </ul>
    </div>
    </nav>
    <!-- ends nav -->
    <header>
    <div class="segunda">
        <h1 class="textWhite titulos">Biografia</h1>
    </div>
    </header>
    <!-- ends header-->
    <main>
        <section>
            <div class="tercera">
            <h2 class="textWhite titulos">Camila Malumbres</h2>
            </div>
            <div class="cuarta biografia">
                <article class="borde textWhite">
                    <img class="imagenEscritos" src="../img/biografia.jpeg" alt="Camila Malumbres - Autora - libros y escritos - Los que no piden permiso">
                    <p>Nacida bajo un mes que dijo llamarse marzo.</p>
                    <p>Me gusta tanto la tierra que me toco un signo de agua.</p>
                    <p>De risa fuerte y lagrima facil. Lloro de la musica para adentro y de la letra para afuera.</p>
                    <p>De lugar favorito el campo que vio crecer a mi abuelo.</p>   
                    <p>De religion, los libros y la poesia.</p>
                    <p>De ideologia, cuaquiera que me recuerde mis "quiero".</p>    
                    <p>De hobby, mirar el cielo.</p>
                    <p>De lema, el que me recuerda lo importante: que mientras respire todavia hay tiempo.</p>
                </article>
            </div>
        </section>
    </main>
    <!--ends main-->
    <footer id="pie" class="fondoWhite">
    <div class="quinta">
        <a href="https://www.instagram.com/camila.malumbres/?hl=es" target="_blank">
            <img src="../img/instagram.png" alt="Instagram - Camila Malumbres - Autora - libros y escritos - Los que no piden permiso ">
        </a>
        <a href="https://www.facebook.com" target="_blank">
            <img src="../img/facebook.png" alt="Facebook - Camila Malumbres - Autora - libros y escritos - Los que no piden permiso">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img src="../img/twitter.png" alt="">
        </a>
    </div>
    </footer>
</div>
</body>
</html>