<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camila Malumbres - Libros y escritos</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.png">
</head>
<body class="fondoBlack">
<div id="contenedorGrid">
    <nav class="fondoWhite botonera">
    <div class="primera">
        <a href="../index.html">
            <img src="../img/logo.png" alt="logo de Camila Malumbres - Libros y escritos">
        </a>
        <ul>
            <li>
                <a href="libros.html">Libros</a>
            </li>
            <li>
                <a href="escritos.html">Escritos</a>
            </li>
            <li>
                <a href="biografia.html">Biografia</a>
            </li>
            <li>
                <a href="contacto.html">Contacto</a>
            </li>
        </ul>
    </div>
    </nav>
    <!-- ends nav -->
    <header class="fondoBlack">
        <div class="tercera textWhite">
            <h1>Libro "Los que no piden permiso"</h1>
        </div>        
        <div class="segunda display">
            <img class="imagenLibro" src="../img/header.png" alt="libros y escritos - Camila Malumbres - Los que no piden permiso">
        </div>
    </header>
    <!-- ends header-->
    <main class="fondoBlack">
    <div class="cuarta textWhite marginTop">
        <section>
            <table border="3px" cellpadding="5px" cellspacing="5px"> <!--Hacer con CSS-->
                <tr>
                    <th>Nombre del libro</th>
                    <th>Fecha de publicacion</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>Los que no piden permiso</td>
                    <td>Octubre de 2021</td>
                    <td>$1200</td>
                </tr>
            </table>
        </section>
    </main>
    </div>
    <footer class="gradiente" id="pie">
    <div class="quinta gradiente">
        <a href="https://www.instagram.com/camila.malumbres/?hl=es" target="_blank">
            <img src="../img/instagram.png" alt="Instagram - Camila Malumbres - Autora - libros y escritos - Los que no piden permiso ">
        </a>
        <a href="https://www.facebook.com" target="_blank">
            <img src="../img/facebook.png" alt="Facebook - Camila Malumbres - Autora - libros y escritos - Los que no piden permiso">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img src="../img/twitter.png" alt="">
        </a>
    </div>
    </footer>
</div>
</body>
</html>